{% extends 'base.html' %}

{% block title %}Example{% endblock %}

{% block head_style %}
<style type="text/css">
    .testbox1,.testbox2{
        width: 100%;
        height: 200px;
        background-color:#4F4D3F;
        text-align: center;
        color:white;
    }
    .testbox1 ul,.testbox2 ul{
        padding: 5px;
        background-color:#1093EF;
    }
    .testbox1 ul,.testbox2 ul{
        margin:auto;
        padding-top: 20px;
    }
    .testbox1 ul li,.testbox2 ul li{
        height: 30px;
        width: 80%;
        background-color:#DEDDDC;
        margin:5px auto 5px auto;
    }

    .testbox1 ul li span,.testbox2 ul li span{
        height: 30px;
        width: 80%;
        background-color:#F9A01C;
    }
    .testbox1 ul li.item-1{
        background-color: red;
    }
    .testbox1 ul li.item-2{
        background-color: blue;
    }
    .testbox1 ul li.item-3{
        background-color: green;
    }
    .testbox1 ul li.item-4{
        background-color: grey;
    }
    .addModule {border: 1px dashed #f50; margin: 0 0 10px;}
    .testbox1 div,.testbox2 div{
        height: 25px;
        width: 80%;
        margin:auto;
        background-color:#551A8B;
    }
</style>
{% endblock %}

{% block content %}
<h1>This is Example Page</h1>
<h2>测试参数：{{example}}</h2>
<h3><a href="/">返回首页</a></h3>
<hr>
<h1>排序实例</h1>
<div class="testbox1">
    <ul class="testbox-ul1">
        <li class="item-1"><span>Item 1</span></li>
        <li class="item-2"><span>Item 2</span></li>
        <li class="item-3"><span>Item 3</span></li>
        <li class="item-4"><span>Item 4</span></li>
        <div><span>Item 5</span></div>
    </ul>
</div>

<div class="testbox1">

</div>
<div class="testbox2">
    <ul class="testbox-ul2">
        <li class="item-1"><span>Item 1</span></li>
        <li class="item-2"><span>Item 2</span></li>
        <li class="item-3"><span>Item 3</span></li>
        <li class="item-4"><span>Item 4</span></li>

    </ul>
</div>
{% endblock %}

{% block content_script %}
<script type="text/javascript">
    seajs.use(['/static/javascripts/other'],function(Other){
        Other.other();
    });
    seajs.use(['jquery','sortable5'],function($,sortable5){
        console.log('sortable prepare');
        /*注释
        1.connectWith 是任意 字符串
        2.placeholderClass是class类名，不加点.定义一个样式
        */

        //html5sortable 0.4.0 官方推荐写法
        sortable5('.testbox-ul1',{
            connectWith:'cf',
            handle:'span',
            items:'div',
            placeholderClass:'addModule',
            placeholder:"<div>4555</div>",
            forcePlaceholderSize: true
        });
        sortable5('.testbox-ul2',{
            connectWith:'cf',
            handle:'span',
            items:'li',
            placeholderClass:'addModule',
            placeholder:"<div>4555</div>",
            forcePlaceholderSize: true
        });

    });
</script>
{% endblock %}