{% extends 'base.html' %}

{% block title %}Example{% endblock %}

{% block head_style %}
<style type="text/css">
    .testbox1,.testbox2{
        width: 100%;
        height: 200px;
        background-color:#4F4D3F;
        text-align: center;
        color:white;
    }
    .testbox1 ul,.testbox2 ul{
        margin:auto;
        padding-top: 20px;
    }
    .testbox1 ul li,.testbox2 ul li{
        height: 30px;
        width: 80%;
        background-color:#DEDDDC;
        margin:5px auto 5px auto;
    }
    .testbox1 ul li.item-1{
        background-color: red;
    }
    .testbox1 ul li.item-2{
        background-color: blue;
    }
    .testbox1 ul li.item-3{
        background-color: green;
    }
    .testbox1 ul li.item-4{
        background-color: grey;
    }
    .placeClass {
        border: 1px #f50;
        background-color: red;
    }
</style>
{% endblock %}

{% block content %}
<h1>This is Example Page</h1>
<h2>测试参数：{{example}}</h2>
<h3><a href="/">返回首页</a></h3>
<hr>
<h1>排序实例</h1>
<div class="testbox1">
    <ul class="testbox-ul1">
        <li class="item-1">Item 1</li>
        <li class="item-2">Item 2</li>
        <li class="item-3">Item 3</li>
        <li class="item-4">Item 4</li>
    </ul>
</div>

<div class="testbox2">
    <ul class="testbox-ul2">
        <li class="item-1">Item 1</li>
        <li class="item-2">Item 2</li>
        <li class="item-3">Item 3</li>
        <li class="item-4">Item 4</li>
    </ul>
</div>
{% endblock %}

{% block content_script %}
<script type="text/javascript">
    seajs.use(['/static/javascripts/other'],function(Other){
        Other.other();
    });

    // seajs.use(['jquery','sortable'],function($){
    //     console.log('sortable prepare');
    //     $('.testbox-ul').sortable({
    //         // items:'ul>li',
    //         // handle:'ul',
    //         // forcePlaceholderSize: true,
    //         // connectWith:'.connected'
    //         // placeholderClass:'.testbox-ul'
    //     });

    //     $('.testbox-ul').sortable({
    //         // items:'li',
    //         // handle:'ul',
    //         forcePlaceholderSize: true,
    //         connectWith:'.connected'
    //         // placeholderClass:'.testbox-ul'
    //     });

    // });

    seajs.use(['jquery','sortable5'],function($,sortable5){
        console.log('sortable prepare');
        sortable5('.testbox-ul1',{
            connectWith:'cf'
        });
        sortable5('.testbox-ul2',{
            connectWith:'cf'
        });
    });
</script>
{% endblock %}