{% extends 'base.html' %}
{% block title %}{{title}}{%endblock%}

{% block head_style %}
<style type="text/css" media="screen">
    #virtualbox{
        padding: 10px;
        background-color:#F2F2F2;
    }
    #coreIframe{
        width: 100%;
        height:500px;
    }
    #container{
        background-color:#C6E2CC;
        padding: 10px;
        height: 300px;
    }
</style>
{% endblock %}

{% block content %}
<h1>Transfer页面通信实例</h1>
<h2>{{transfer}}</h2>
<h3><a href="/" title="返回首页">返回首页</a></h3>
<div>
    <h2>Outer Area</h2>
    <div id="container">
       <div id="msg_box">
       <h4>接收盒子</h4>
        <textarea id="msg_panel" name="msg_panel"></textarea>
        </div>
        <h4>发送板</h4>
        <div id="send_box">
            <input type="text" name="input_msg">
            <button type="button">发送消息</button>
        </div>
    </div>
</div>
<hr>
<h2>Iframe Area</h2>
<div id="virtualbox">
    <iframe id="coreIframe" name="coreIframe" src="/inner" frameborder="0" scrolling="auto" ></iframe>
</div>

{% endblock %}

{% block content_script %}
<script src="/static/javascripts/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript">

// var eleFrom = $("#msg_box");
// $("#send_box button").click(function(){
//     var send_text = $("#msg_panel").html();
//     window.frames[0].postMessage(message,"sss");
//     return false;
// });

$(document).ready(function(){
    function recMsg(event){
        console.log(event);
        console.log(event.source);
        if(event.origin == "http://localhost:3000"){
            console.log(event.data);
            console.log("msg here");
        }
    }

    window.addEventListener("message",recMsg,false);
    console.log("send");
    document.getElementById("coreIframe").contentWindow.postMessage("Heoowordl","*");
    console.log("send end");

});


</script>
{% endblock %}
