{% extends 'base.html' %}
{% block title %}{{title}}{%endblock%}

{% block head_style %}
<style type="text/css" media="screen">
    #virtualbox{
        padding: 10px;
        background-color:#F2F2F2;
    }
    #coreIframe{
        width: 100%;
        height:500px;
    }
    #container{
        background-color:#C6E2CC;
        padding: 10px;
        height: 300px;
    }
</style>
{% endblock %}

{% block content %}
<h1>Transfer页面通信实例</h1>
<h2>{{transfer}}</h2>
<h3><a href="/" title="返回首页">返回首页</a></h3>
<div>
    <h2>Outer Area</h2>
    <div id="container">
       <div id="msg_box">
       <h4>接收盒子</h4>
        <textarea id="msg_panel" name="msg_panel"></textarea>
        </div>
        <h4>发送板</h4>
        <div id="send_box">
            <input type="text" name="input_msg">
            <button type="button">发送消息</button>
        </div>
    </div>
</div>
<hr>
<h2>Iframe Area</h2>
<div id="virtualbox">
    <iframe id="coreIframe" name="coreIframe" src="/transfer/inner" frameborder="0" scrolling="auto" ></iframe>
</div>

{% endblock %}

{% block content_script %}
<script src="/static/javascripts/jquery/1.8.0/jquery.min.js"></script>
<script src="/static/javascripts/MessengerJS/2.0.0/messenger.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    var messenger = new Messenger('outer','TransferDemo');
    var iframe1 = document.getElementById('coreIframe');

    messenger.listen(function(msg){
        $("#msg_panel").html('接收:'+msg);
    });
    messenger.addTarget(iframe1.contentWindow,'inner');

    $("#send_box button").click(function(){
        var msg_text = $("#send_box input").val();
        messenger.targets['inner'].send(msg_text);
    });
});


</script>
{% endblock %}
